@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Honk";
  src: url("/fonts/Honk-Regular-VariableFont_MORF,SHLN.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-primary-white: #00e4f5;
  --color-primary-green: #006269;
  --color-primary-rosa: #006d75;
  --color-secondary-brown: #f5e400;

  /*Typografi */
  --font-display: "Honk", monospace;
}

/*place the font family and colour variables here */
@layer base {
}

@layer components {
}

/*make your own CSS tokens/variables here with their own titles */
@layer utilities {
}
