@import "tailwindcss";
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin "daisyui";

@font-face {
  font-family: "Gerak";
  src: url("/fonts/Gerak-Yzn.otf") format("truetype");
}

@font-face {
  font-family: "KumbhSans";
  src: url("/fonts/KumbhSans-VariableFont_wght.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-primary-white: #fffdf8;
  --color-primary-green: #857e38;
  --color-primary-rosa: #764e45;
  --color-primary-brown: #b15562;

  /*Typografi */
  --font-main: "KumbhSans", sans-serif;
  --font-chalk: "Gerak", sans-serif;
}

/*place the font family and colour variables here */
@layer base {
  .font-main {
    font-family: var(--font-main);
  }

  /* Farver */

  .color-primary-pink {
    color: var(--color-primary-pink);
  }
  .color-primary-blue {
    color: var(--color-primary-blue);
  }
  .color-primary-beige {
    color: var(--color-primary-beige);
  }
  .color-primary-brown {
    color: var(--color-primary-brown);
  }
}

@layer components {
}

/*make your own CSS tokens/variables here with their own titles */
@layer utilities {
  .text-brown {
    color: var(--color-primary-brown);
  }

  .text-white {
    color: var(--color-primary-white);
  }
}
